body
{
  margin: 0px;
  padding: 0px;
}

.sky
{
  background-color: lightblue;
  width: 100%;
  height:200px;
  position: relative;
}

.ground
{
  background-color: lightgreen;
  width: 100%;
  height:250px;
}

.road
{
  background-color: grey;
  width: 100%;
  height:400px;
  position: relative;
}

.mario-image
{
  height: 150px;
  width: 150px;
  margin-left: 10px;
  animation: drive 2s infinite,
             jump .2s 1s ;
  position: absolute;
  top: (-40px);
/* animation-fill-mode: forwards; ---> If we want to Mario to stay at the end of the race,till we refresh */
/* animation-iteration-count: 3; */
/* animation-direction:reverse;  ---> Agrr hum Mario ko end point se start point ko ulta chala chate toh */
animation-timing-function: cubic-bezier(0,.68,1,.53);
}

@keyframes drive
{
  from{transform:translateX(0px)}
  to{transform:translateX(1350px)}
}

hr
{
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top:180px;
  width: 100%;
}


/* Animation to Cloud */

.cloud
{
height: 150px;
width: 250px;
opacity: 0.5;
animation: wind linear 10s forwards ;

}

.cloud-1
{
  height: 200px;
  width: 300px;
  animation: wind linear 7s forwards ;
  position: absolute;
  top: 10px;
}

@keyframes wind
{
from {transform: translateX(0px)}
to {transform: translateX(1350px)}
}

/* jump mario */
@keyframes jump
{
 50% { top: -100px }
}
